services:
  freeradius:
    build: .
    ports:
      - "${RADIUS_LAA_BLOCKER_PORT}:1812/udp"
    volumes:
      - ./config/clients.conf:${RADIUS_LAA_BLOCKER_CONFIG_PATH}/clients.conf:ro
      - ./config/sites-available/default:${RADIUS_LAA_BLOCKER_CONFIG_PATH}/sites-available/default:ro
    restart: unless-stopped
